environment:
  matrix:
    - PYTHON: "C:\\Python27"

install:
  - git config --global github.user Project-EventGhost

  - ps: Start-FileDownload "http://www.innosetup.com/download.php/is-unicode.exe" -Timeout 60000 -FileName "is-unicode.exe"
  - is-unicode.exe /SP /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /RESTARTAPPLICATIONS /NOICONS

  - ps: Start-FileDownload "http://www.stackless.com/binaries/python-2.7.12150-stackless.msi" -Timeout 60000 -FileName "stackless-setup.msi"
  - stackless-setup.msi /quiet /passive /qn /norestart

  - pip install commonmark==0.7.0
  - pip install comtypes  # ==1.1.2
  - pip install http://svn.python.org/projects/ctypes/trunk/ctypeslib/  # ==0.5.6
  - pip install future  # ==0.15.2
  - pip install pillow  # ==3.1.1
  - pip install py2exe_py2  # ==0.6.9
  - pip install pycrypto  # ==2.6.1
  - pip install https://eventghost.github.io/dist/dependencies/pywin32-220-cp27-none-win32.whl
  - pip install sphinx  # ==1.3.5
  - pip install https://eventghost.github.io/dist/dependencies/wxPython-3.0.2.0-cp27-none-win32.whl

build: off

after_test:
  - "%PYTHON%\\python.exe _build\\Build.py --build --package"

artifacts:
  - path: "_build\\output\\*Setup.exe"
