# In AppVeyor's web config add an enviremont variable named GITHUB_TOKEN.
# Set it to a token you've created on GitHub.
# To draft a release on GitHub with AppVeyor, create a tag on master in the
# form "deploy_VERSION". VERSION must be a valid version string (without
# leading 'v'). This tag (deploy_VERSION) will be deleted and a new release
# "vVERSION" will be created.
# Example:
#   tag name: deploy_0.5.2
#   new release: v0.5.2

version: '{build}-{branch}'


#init:
#  # Enable Remotedesktop and pause the build execution
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))


environment:
  PYTHON: 'C:\Stackless27'
  PYTHONPATH: 'C:\Stackless27;C:\Stackless27\Scripts;C:\Stackless27\DLLs;C:\Stackless27\Lib;C:\Stackless27\Lib\site-packages;'


matrix:
  fast_finish: true


cache:
  # Invalidate cache if one of the listed files has changed
  - C:\Stackless27 -> .appveyor.yml, .pyup.yml, .requirements.txt
  # Manually clear cache:
  # from agithub.AppVeyor import AppVeyor
  # ci = AppVeyor(<your appveyor API token>)
  # status, data = ci.api.projects.<appveyor username>.<appveyor projectname>.buildcache.delete()
  # print status  # 204 = Ok, cache deleted


install:
  # HTML Help Workshop 1.32
  # - cinst html-help-workshop

  # Microsoft Visual C++ Redistributable 2008 (version min: 9.0.21022.8)
  # - cinst vcredist2008

  # Inno Setup 5.5.9
  # - cinst innosetup

  #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: |
      # $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
      $Env:PATH = $Env:PATH -replace "Python27", "Stackless27"
      $PythonFolder = $Env:PYTHON
      $PythonScripts = $PythonFolder + "\Scripts"
      $SitePackages = $PythonFolder + "\lib\site-packages"
      $SysWOW = $Env:SYSTEMROOT + "\SysWOW64"
      $PythonWindowsDLL = $SysWOW + "\python27.dll"
      $PythonDLL = $PythonFolder + "\python27.dll"
      $InstallersFolder = $Env:APPVEYOR_BUILD_FOLDER + "\_build\installers\"
      $verbose = $false
      if ($env:APPVEYOR_REPO_COMMIT_MESSAGE) {
          $verbose = $ENV:APPVEYOR_REPO_COMMIT_MESSAGE.ToUpper().Contains("[VERBOSE]")
      }
      if ($ENV:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED) {
          $verbose = $verbose -or $ENV:APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED.ToUpper().Contains("[VERBOSE]")
      }
      if ($ENV:APPVEYOR_PULL_REQUEST_TITLE) {
          $verbose = $verbose -or $ENV:APPVEYOR_PULL_REQUEST_TITLE.ToUpper().Contains("[VERBOSE]")
      }

      Remove-Item $PythonWindowsDLL
      New-Item $InstallersFolder -type directory | Out-Null
      " "
      "=============== prepare EventGhost build environment ==============="
      If (-not (Test-Path $PythonFolder))
      {
        " "
        "--- Stackless 2.7.12150 x86"
        $StacklessInstaller = $InstallersFolder + "python-2.7.12150-stackless.msi"
        $StacklessInstallDir = "TARGETDIR=" + $PythonFolder
        $StacklessURL = "http://www.stackless.com/binaries/python-2.7.12150-stackless.msi"
        Start-FileDownload $StacklessURL -Timeout 60000 -FileName $StacklessInstaller
        "    Installing..."
        Start-Process MsiExec.exe -Arg "/I $StacklessInstaller /quiet /passive /qn /norestart $StacklessInstallDir" -Wait
        "    Done."

        " "
        "--- wxPython 3.0.2.0"
        $WXInstaller = $InstallersFolder + "wxPython3.0-win32-3.0.2.0-py27.exe"
        $WXURL = "http://downloads.sourceforge.net/wxpython/wxPython3.0-win32-3.0.2.0-py27.exe"
        Start-FileDownload $WXURL -Timeout 60000 -FileName $WXInstaller
        "    Installing..."
        Start-Process $WXInstaller -Arg "/VERYSILENT /SUPPRESSMSGBOXES" -NoNewWindow -Wait
        "    Done."

        " "
        "--- pip 9.0.1"
        "    Updating..."
        python -m pip install -q -U "pip==9.0.1"
        "    Done."

        " "
        "--- Install requirements"
        "    Installing..."
        if ($verbose) {
          pip install -r .requirements.txt
        } else {
          pip install -q -r .requirements.txt
        }
        "    Done."

        " "
        "--- pywin32 221 -----------"
        $fname = "pywin32-221.win32-py2.7.exe"
        $PyWinInstaller = $InstallersFolder + $fname
        $PyWinURL = "https://sourceforge.net/projects/pywin32/files/pywin32/Build%20221/" + $fname + "/download"
        Start-FileDownload $PyWinURL -Timeout 60000 -FileName $PyWinInstaller
        "    Installing..."
        cd $InstallersFolder
        7z x -bd -y $fname -opywin32 | Out-Null
        cd pywin32
        Copy-Item -Path ".\PLATLIB\*" -Destination $SitePackages -recurse
        Copy-Item -Path ".\SCRIPTS\*" -Destination $PythonScripts -recurse
        cd $Env:APPVEYOR_BUILD_FOLDER
        "    Done."
      }

      if ($verbose) {
        " "
        "--- Installed Python Packages:"
        pip list --format=columns
        " "
      }

      " "
      "--- pywin32 post install"
      $PywinPostInstall = $PythonScripts +"\pywin32_postinstall.py"
      Start-Process python -Arg "$PywinPostInstall -install -silent -quiet" -Wait
      "    Done."

      " "
      "--- Inno Setup 5.5.9"
      $InnoInstaller = $InstallersFolder + "innosetup-5.5.9-unicode.exe"
      $InnoURL = "http://files.jrsoftware.org/is/5/innosetup-5.5.9-unicode.exe"
      Start-FileDownload $InnoURL -Timeout 60000 -FileName $InnoInstaller | ForEach-Object { Write-Host "    " + $_ }
      "    Installing..."
      Start-Process $InnoInstaller -Arg "/SP /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /RESTARTAPPLICATIONS /NOICONS" -NoNewWindow -Wait
      "    Done."
      " "

      " "
      "=============== start the EventGhost build ==============="
      " "
      If ($Env:APPVEYOR_REPO_TAG.ToUpper() -eq "TRUE" -and
        $Env:APPVEYOR_REPO_TAG_NAME.ToUpper().startswith("DEPLOY"))
      {
        git checkout -q master
        $release = $Env:APPVEYOR_REPO_TAG_NAME.split("_", 2)[1]
        $url = if($Env:SFTP_URL){' --docs --url "' + $env:SFTP_URL + '"'} else {''}
        python "_build\Build.py" --build --package --release --version $release $url
      } Else {
        # WIP
        if ($verbose) {
          python "_build\Build.py" --build --package --verbose
        } else {
          python "_build\Build.py" --build --package
        }
        .\EventGhost.exe -install
      }
      $Env:SetupExe = gci -recurse -filter "_build\output\*Setup.exe" -name
      " "

      "=============== EventGhost build finished ==============="
      " "
      " "


build:
  off
  # If we don't turn build off, we get an error from appveyor telling us,
  # we should decide, which project or solution file to use, because the
  # folder contains more than one project or solution file.
  # We don't really "build" (with a compiler), but Appveyor finds the
  # solution files in the extension sub-directories and complains.


#after_test:
#  - cmd:  echo "=============== EventGhost build finished ==============="
#  # - cmd: START /WAIT %setup-exe% /VERYSILENT /SUPPRESSMSGBOXES /NOCLOSEAPPLICATIONS


artifacts:
  - path: _build\output\$(SetupExe)
    name: $(SetupExe)
  - path: _build\output\Build.log
    name: Build.log
  - path: _build\output\CHANGELOG.md
    name: CHANGELOG.md
  - path: _build\output\CHANGELOG_THIS_RELEASE.md
    name: CHANGELOG_THIS_RELEASE.md
  - path: _build\output\CHANGELOG_THIS_RELEASE.bb
    name: CHANGELOG_THIS_RELEASE.bb


notifications:
- provider: GitHubPullRequest
  template: >-
    [Build {{buildVersion}} {{status}}]({{buildUrl}}) (commit {{commitUrl}})


    Artifacts:

    {{#jobs}}
    {{#artifacts}}
    [{{name}}]({{url}})

    {{/artifacts}}
    {{/jobs}}

  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false


#on_finish:
#  # Enable Remotedesktop and pause the build execution
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))


# notifications:
#   - provider: GitHubPullRequest
#     template: "{{#passed}}:white_check_mark: [Setup.exe](https://ci.appveyor.com/api/buildjobs/$(APPVEYOR_JOB_ID)/artifacts/_build%2Foutput%2F$(setup-exe)){{/passed}}{{#failed}}:x:{{/failed}} [Build {{&projectName}} {{buildVersion}} {{status}}]({{buildUrl}}) (commit {{commitUrl}} by @{{&commitAuthorUsername}})"
