version: '{build}-{branch}'

environment:
  matrix:
    - PYTHON: "C:\\Python27"
    
#cache:
#  - '%PYTHON%\Lib\site-packages'
 
install:
  # - ps: Start-FileDownload "https://github.com/appveyor/ci/raw/master/scripts/enable-rdp.ps1" -Timeout 60000
  # - enable-rdp.ps1
  
  - ps: Start-FileDownload "http://www.innosetup.com/download.php/is-unicode.exe" -Timeout 60000 -FileName "is-unicode.exe"
  - is-unicode.exe /SP /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /RESTARTAPPLICATIONS /NOICONS

  - ps: Start-FileDownload "http://www.stackless.com/binaries/python-2.7.12150-stackless.msi" -Timeout 60000 -FileName "stackless-setup.msi"
  - stackless-setup.msi /quiet /passive /qn /norestart

  - pip install commonmark==0.7.2
  - pip install comtypes
  # - pip install https://github.com/enthought/comtypes/archive/1.1.2.zip
  - pip install https://eventghost.github.io/dist/dependencies/ctypeslib-0.5.6-cp27-none-any.whl
  - pip install future==0.16.0
  - pip install pillow==3.4.2
  - pip install py2exe_py2==0.6.9
  - pip install pycrypto==2.6.1
  - pip install https://eventghost.github.io/dist/dependencies/pywin32-220-cp27-none-win32.whl
  # - pip install pypiwin32==219
  - pip install sphinx==1.4.8
  - pip install https://eventghost.github.io/dist/dependencies/wxPython-3.0.2.0-cp27-none-win32.whl

build: off

after_test:
  - "python.exe _build\\Build.py --build --package"
  # - dir _build\output\*.exe /B > setup-exe.txt
  # - set /P setup-exe= < setup-exe.txt
  # - START /WAIT %setup-exe% /VERYSILENT /SUPPRESSMSGBOXES /NOCLOSEAPPLICATIONS
  
artifacts:
  - path: "_build\\output\\*Setup.exe"
