# Settings for EditorConfig <http://editorconfig.org/>

# Don't parse files below here.
root = true

# Defaults
[*]
charset = utf-8
;end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Python
[*.{py,pyw}]
indent_size = 4
