; flake8 is a wrapper around these linting tools:
; * PyFlakes
; * pep8
; * Ned Batchelder’s McCabe script
;
; To install:
; * Run `pip install flake8`
; * Find a flake8 plugin for your editor
;
; Please check your code against flake8 before submitting a pull request.

[flake8]
ignore = E114,E116,E221,E251,E262,E265,E302,E731,F403,F999
max-line-length = 80
