# Build output
/*.chm
/*.dll
/*.exe
/build/builder/Data/Build.ini
/build/builder/Data/Python??/imports.py
/build/docs/pluginlist.rst
/build/docs/eg/*
!/build/docs/eg/index.rst
/build/output/
/eg/StaticImports.py
/lib??/*
!/lib??/site-packages/

# Python
__pycache__/
*.py[co]
*$py.class

# Visual Studio
.vs/
Debug/
Release/
*.opendb
*.sdf
