{% extends "layout.tmpl" %}
{% block title %}EventGhost{% endblock %}
{% block content %}
{% filter rst2html %}
.. image:: /images/screenshot.jpg
   :align: right

What is EventGhost?
~~~~~~~~~~~~~~~~~~~

EventGhost is an advanced, yet easy-to-use extensible automation tool for
Windows. Users can create macros entirely through the GUI -- you don't have to
write a single line of code if you don't want to -- and these macros are
triggered by events, which can come from literally any device, program, or
source with a corresponding plugin. Control your HTPC with an infrared remote,
move your mouse cursor with your gamepad, communicate with another instance of
EventGhost over your network, send yourself an email when your website goes
down, turn on your lights when the sun sets... with the right plugin, the
right macro, and a little ingenuity, the sky's the limit!


Download
~~~~~~~~

EventGhost runs on Windows 2000 and above. You can get EventGhost from the
`download page </downloads/>`_.


License
~~~~~~~

EventGhost is released under the `GNU GPL v2
<http://www.gnu.org/licenses/old-licenses/gpl-2.0.html>`_ license, so
EventGhost is free, open source software. You can use it without charge.


Support
~~~~~~~

* `Documentation </docs/>`_
* `Wiki </wiki/>`_
* `Forum </forum/>`_
{% endfilter %}
{% endblock %}
